/*Universal Settings*/
html {
  font:18px helvetica,sans-serif;
  color:white;
}
.border {
  border:1px solid black;
}
.container {
  max-width:960px;
  margin:0 auto;
}
.middle {
  display: flex;
  align-items: center;
  flex-direction:row;
}


/*Top logo*/
.logo {
  background-color:black;
  padding-top:0.66rem;
  padding-bottom:0.66rem;
}
.logo img {
  height:1.5rem;
  padding-right:1rem;
  padding-left:0.5rem;
}


/*Background image*/
.back {
  background-image:url(../images/moto.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  height:25rem;
  overflow:hidden;
}
.top {
  margin-top:9rem;
  width:20rem;
  padding:2rem 3rem;
  font-weight: bold;
  background-color:black;
}
.top h4 {
  font-size:1rem;
}
.top h1 {
  font-size:2rem;
  padding-top:0.25rem;
}


/*Navigation*/
.navigation {
  background-color:firebrick;
}
.navigation div {
  padding:0.75rem auto;
  justify-content:space-around;
}
.navigation {
  padding:0.75rem auto;
}


/*images*/



/*footing*/



/*copyright*/
