/*Universal Settings*/
html {
  font:18px helvetica,sans-serif;
  color:white;
}
/*
.border {
  border:1px solid black;
}
*/
.container {
  max-width:960px;
  margin:0 auto;
}
.middle {
  display: flex;
  align-items: center;
  flex-direction:row;
}
.main {
  margin:0rem auto 4rem auto;
}


/*Top logo*/
.logo {
  background-color:black;
  padding-top:0.66rem;
  padding-bottom:0.66rem;
}
.logo img {
  height:1.5rem;
  padding-right:1rem;
  padding-left:0.5rem;
}


/*Background image*/
.back {
  background-image:url(../images/moto.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  height:25rem;
  overflow:hidden;
}
.top {
  margin-top:9rem;
  width:20rem;
  padding:2rem 3rem;
  font-weight: bold;
  background-color:black;
}
.top h4 {
  font-size:1rem;
}
.top h1 {
  font-size:2rem;
  padding-top:0.25rem;
}


/*Navigation*/
.navigation {
  background-color:firebrick;
}
.navigation .menu{
  display:none;
}
.navigation div {
  justify-content:space-around;
}
.navigation {
  padding:0.75rem;
}


/*images*/
.products {
  display:flex;
  justify-content:space-between;
  margin-top:3rem;
  margin-bottom:3rem;
}
.image {
  display:flex;
  flex-direction:column;
  width:30%;
  border:4px solid black;
}
.image .display {
  height:9rem;
  margin-top:2rem;
  margin-bottom:2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.image img {
  max-width: 8rem;
}
.image span {
  background-color:black;
  text-align: center;
  display:block;
  padding:0.5rem;
}


/*information*/
.info {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
}
.lour {
  width:35%;
  display:flex;
  flex-direction:column;

}
.lour span {
  background-color: black;
  padding:1rem 2rem;
  margin-bottom:0.25rem;
}
.lour p {
  color:black;
}


/*copyright*/
footer {
  background-color:black;
}
.copyright {
  height:5rem;
}
.copyright span {
  text-align: left;
  margin:0;
}


/*Media Queries*/
@media only screen and (max-width:1024px) {
  .navigation .list{
    display:none;
  }
  .navigation .menu{
    display:contents;
  }
  .glasses {
    display:none;
  }
  .image {
    width:47%;
  }
  .lour {
    width:35%;
  }
}
@media only screen and (max-width:470px) {
  .back {
    height:15rem;
  }
  .top {
    margin-top:10rem;
    padding:1rem 2rem;
  }
  .top h4 {
    font-size:0.77rem;
  }
  .top h1 {
    font-size:1rem;
  }
  .watch {
    display:none;
  }
  .image {
    width:90%;
  }
  .info {
    flex-direction:column;
  }
  .lour {
    width:90%;
    margin-bottom:0.5rem;
  }
  .copyright span {
    text-align:center;
    margin:0 auto;
  }
}
